<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->

  <!--Seteamos la cadena de Conexion -->
  <connectionStrings>

       <add name="cadena" connectionString="SERVER=200.80.43.3; Port=3306; DATABASE=cofarsur_sniper; UID=cofarsur_sniper; PASSWORD=Desa1521" providerName="MySql.Data.MySqlClient" />
    
    <!--CBA1 PRE-->
    <!--<add name="cadena" providerName="System.Data.SqlClient" connectionString="Server = DESKTOP-R3IQS6R; Database = test; User Id = sa; password = qquaker8790" />-->
    <!--<add name="cadena" connectionString="DATA SOURCE=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST =127.0.0.1)(PORT = 1521))(CONNECT_DATA =(SID = XE)));USER ID=vialidad;Password=vialidad ;" providerName="Oracle.ManagedDataAccess.Client" />-->
<!--<add name="cadena" connectionString="DATA SOURCE=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST =192.168.1.4)(PORT = 1521))(CONNECT_DATA =(SID = XE)));USER ID=SBOTMGR;Password=DESA1521 ;" providerName="Oracle.ManagedDataAccess.Client" />-->
  </connectionStrings>

  <appSettings>

    <!--<add key ="BD_NombreEsquema" value="vialidad_sim"/>-->
    <!--<add key ="BD_NombreEsquema" value="vialidad"/>-->

    <!-- instructivos-->
    <!--<add key="PathInstructivos" value="\\D030NT03\\Grupos\\Unidades\\Sistema POP\\Documentos\\Instructivos"/>-->

    <!-- DESCOMENTAR BLOQUE PARA DESARROLLO / TESTING -->
    <!--<add key ="URLArchivosCiDi" value="poptest.cba.gov.ar/api/cidi/ObtenerDocumentoCidi/"/>
    <add key="CiDiIdAplicacion" value="305" />
    <add key="CiDiPassAplicacion" value="TVJCDPbxvb11149" />
    <add key="CiDiKeyAplicacion" value="5A576C496558734C726E464B504E2F42" />
    <add key="IdAplicacionOrigen" value="1045" />
    <add key="Pwd_App_CDD" value="XCWD4lXqkj6528l" />
    <add key="Key_App_CDD" value="Q5RJK92NUV7WW09BK0MO2LS0XS29Q0X6" />
    <add key="CiDiUrl" value="https://cidi.test.cba.gov.ar/Cuenta/Login" />
    <add key="CiDiUrlAPICuenta" value="https://cuentacidi.test.cba.gov.ar/" />
    <add key="CiDiUrlAPIComunicacion" value="https://comunicacioncidi.test.cba.gov.ar/" />
    <add key="CiDiUrlAPIDocumentacion" value="https://documentacioncidi.test.cba.gov.ar/" />
    <add key="CiDiUrlAPIMobile" value="https://mobilecidi.test.cba.gov.ar/" />
    <add key="CiDiUrlRelacion" value="https://cidi.test.cba.gov.ar/relacion/appseleccion" />
    <add key="CentroDocumentacion" value="https://apidocumentoscdd.test.cba.gov.ar/" />
    <add key="Scope_Archivo" value="T" />-->

    <!-- DESCOMENTAR BLOQUE PARA PRODUCCION-->
    <!--<add key ="URLArchivosCiDi" value="pop.cba.gov.ar/api/cidi/ObtenerDocumentoCidi/"/>  
    <add key="CiDiIdAplicacion" value="305" />
    <add key="CiDiPassAplicacion" value="ZYWLXKcueh62593" />
    <add key="CiDiKeyAplicacion" value="3578736D6C796B713644684A7851536F" />
    <add key="IdAplicacionOrigen" value="1045" />
    <add key="Pwd_App_CDD" value="XCWD4lXqkj6528l" />
    <add key="Key_App_CDD" value="Q5RJK92NUV7WW09BK0MO2LS0XS29Q0X6" />   
    <add key="CiDiUrl" value="https://cidi.cba.gov.ar/Cuenta/Login" />
    <add key="CiDiUrlAPICuenta" value="https://cuentacidi.cba.gov.ar/" />
    <add key="CiDiUrlAPIComunicacion" value="https://comunicacioncidi.cba.gov.ar/" />
    <add key="CiDiUrlAPIDocumentacion" value="https://documentacioncidi.cba.gov.ar/" />
    <add key="CiDiUrlAPIMobile" value="https://mobilecidi.cba.gov.ar/" />
    <add key="CiDiUrlRelacion" value="https://cidi.cba.gov.ar/relacion/appseleccion" />
    <add key="CentroDocumentacion" value="https://apidocumentos.cba.gov.ar/" />
    <add key="Path_Documentos" value="\Archivos\"/>
    <add key="Scope_Archivo" value="P"/>-->
  </appSettings>

</configuration>