


<!--<div class="container">-->
<div class="row bg-primary text-white">

  <div class="col">


    <div class="p-3 mb-2 bg-light text-dark text-center">Parte Diario</div>

    <button mat-button [matMenuTriggerFor]="acciones">Acciones</button>

    <mat-menu #acciones="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="marcaciones">Marcaciones"</button>
      <button mat-menu-item [matMenuTriggerFor]="incidencias">Incidencias</button>
    </mat-menu>

    <mat-menu #marcaciones="matMenu">
      <button mat-menu-item>Registrar</button>
      <button mat-menu-item>Borrar</button>
    </mat-menu>

    <mat-menu #incidencias="matMenu">
      <button mat-menu-item>Registrar</button>
      <button mat-menu-item>Borrar</button>
    </mat-menu>

  </div>

</div>

  <div class="row">
    <div class="col  gilla-container">

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 tabla-home">

        <ng-container matColumnDef="ID_LEGAJO">
          <th mat-header-cell *matHeaderCellDef> ID_LEGAJO </th>
          <td mat-cell *matCellDef="let element"> {{element.iD_LEGAJO}} </td>
        </ng-container>

        <ng-container matColumnDef="APELLIDO">
          <th mat-header-cell *matHeaderCellDef> APELLIDO </th>
          <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
        </ng-container>

        <ng-container matColumnDef="NOMBRE">
          <th mat-header-cell *matHeaderCellDef> NOMBRE </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="ID_JORNADA">
          <th mat-header-cell *matHeaderCellDef> ID_JORNADA </th>
          <td mat-cell *matCellDef="let element"> {{element.iD_JORNADA}} </td>
        </ng-container>

        <ng-container matColumnDef="N_JORNADA">
          <th mat-header-cell *matHeaderCellDef> N_JORNADA </th>
          <td mat-cell *matCellDef="let element"> {{element.n_JORNADA}} </td>
        </ng-container>

        <ng-container matColumnDef="ID_INCIDENCIA">
          <th mat-header-cell *matHeaderCellDef> ID_INCIDENCIA </th>
          <td mat-cell *matCellDef="let element"> {{element.iD_INCIDENCIA}} </td>
        </ng-container>

        <ng-container matColumnDef="N_INCIDENCIA">
          <th mat-header-cell *matHeaderCellDef> N_INCIDENCIA </th>
          <td mat-cell *matCellDef="let element"> {{element.n_INCIDENCIA}} </td>
        </ng-container>


        <ng-container matColumnDef="MARCACIONES">
          <th mat-header-cell *matHeaderCellDef> MARCACIONES </th>
          <td mat-cell *matCellDef="let element"> {{element.marcaciones}} </td>
        </ng-container>


        <ng-container matColumnDef="H_TEORICAS">
          <th mat-header-cell *matHeaderCellDef> H_TEORICAS </th>
          <td mat-cell *matCellDef="let element"> {{element.h_TEORICAS}} </td>
        </ng-container>


        <ng-container matColumnDef="H_TRABAJADAS">
          <th mat-header-cell *matHeaderCellDef> H_TRABAJADAS </th>
          <td mat-cell *matCellDef="let element"> {{element.h_TRABAJADAS}} </td>
        </ng-container>


        <ng-container matColumnDef="I_IMPARES">
          <th mat-header-cell *matHeaderCellDef> I_IMPARES </th>
          <td mat-cell *matCellDef="let element"> {{element.i_IMPARES}} </td>
        </ng-container>

        <ng-container matColumnDef="I_SIN_INCIDENCIAS">
          <th mat-header-cell *matHeaderCellDef> I_SIN_INCIDENCIAS </th>
          <td mat-cell *matCellDef="let element"> {{element.i_SIN_INCIDENCIAS}} </td>
        </ng-container>

        <ng-container matColumnDef="H_ADICIONALES">
          <th mat-header-cell *matHeaderCellDef> H_ADICIONALES </th>
          <td mat-cell *matCellDef="let element"> {{element.h_ADICIONALES}} </td>
        </ng-container>

        <ng-container matColumnDef="H_AUSENCIA">
          <th mat-header-cell *matHeaderCellDef> H_AUSENCIA </th>
          <td mat-cell *matCellDef="let element"> {{element.h_AUSENCIA}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openModalData(row)"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    </div>
  </div>

<!--</div>-->



